
.rain {
	position: fixed;
	z-index: -1;
	inset: 0;
}

.drop {
	position: absolute;
	left: clamp(var(--r), var(--x), 100% - var(--r));
	padding: var(--r);
	border-radius: 50%;
	translate: 0 -100%;
	animation: fall var(--t) ease-in var(--dt) infinite;
	animation-direction: reverse;
	/* Goat image */
	/* background-image: url("https://i.pinimg.com/originals/f2/80/67/f2806702779aa176b065df730671e8e3.png");  */
	/* background-size: contain; */
}

@keyframes fall {
	to { translate: 0 calc(100vh + 100%) }
}