#contentContainer {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 80%;
    top: 6em;
    padding: 0 20px;
    background-color: #F6F5AE;
    border-radius: 0 0 1em 1em;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.contentHeader {
    color: black;
    font-size: 25pt;
    font-family: 'Arial';
}

.contentBody {
    display: flex;
    color: black;
    margin: 0 0 40px 0;
}