.contentArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

div[class^="contentContainer"]{
    display: inline-flex;
    flex-direction: row;
    position: relative;
    top: 5em;
    background-color: #aaa8c2ee;
    width: 95%;
    padding: 5px;
    margin-top: 12px;
    height: auto;
    border: 3px solid black;
    border-radius: 8px;
}

.contentHeader {
    color: black;
    font-size: 25pt;
    font-family: 'Arial';
}

.contentBody {
    color: black;
    margin: 0 0 40px 0;
    font-size: 15pt;
}