#navContainer {
    top: 0;
    display: flex; 
    justify-content: center;
    position: fixed;
    background-color: #3f403f;
    width: 100%;
    z-index: 99;
    padding: 5px;
    border-bottom: 3px solid white;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    text-align: left;
}

#navTitle {
    color: white;
    font-size: 26pt;
}

#navBirthday {
    color: white;
    font-size: fit-content;
    margin-top: -5px;
    transition: visibillity 0.2s ease-in-out;
}

#titleSmiley {
    color: white;
    font-size: 16pt;
    margin: 7px -30px 10px 5px;
    transition: visibillity 0.2s ease-in-out;
    width: 20px;
}

ul {
    display: flex;
    list-style-type: none;
    text-align: center;
}

li {
    align-content: center;
    font-size: 13pt;
    font-family: panton-light-caps;
    font-weight: 120;
    background-color: none;
    height: 30px;
    width: 100px;
    color: white;

    transition: width 0.2s ease-in-out;
}

#navInner {
    border-right: white 2px solid;
    transition: background-color 0.2s, color 0.2s;

}

#navOuter {
    transition: background-color 0.2s, color 0.2s;
}

#navInner:hover {
    background-color: rgb(120, 120, 120);
}

#navOuter:first-child {
    border-right: white 2px solid;
}

#navOuter:first-child:hover {
    background-color: rgb(120, 120, 120);
    border-radius: 3px 0 0 3px;
}

#navOuter:last-child:hover {
    background-color: rgb(120, 120, 120);
    border-radius: 0 3px 3px 0;
}

a {
    text-decoration: none;
    color: black;
}

@media screen and (width < 700px) {

    .titleContainer {
        justify-content: center;
        margin: 20px 0 0 0;
    }

    #navContainer {
        height: 50px;
    }

    #navTitle {
        font-size: 20pt;
        width: fit-content;
    }

    #titleSmiley {
        visibility: hidden;
    }

    #navBirthday {
        visibility: hidden;
    }

    nav {
        margin-left: -50px;
    }

    li {
        font-size: 10pt;
        width: 70px;
    }

    #navOuter:last-child {
        margin-right: 30px;
    }
    
}