/* Fonts */

@font-face {
    font-family: 'kbdunktank';
    src: url('./fonts/Kbdunktank.ttf') format('truetype');
}
@font-face {
    font-family: 'kbgoogleyeyes';
    src: url('./fonts/Kbgoogleyeyes.ttf') format('truetype');
}
@font-face {
    font-family: 'kbluckyclover';
    src: url('assets/fonts/Kbluckyclover.ttf') format('truetype');
}
@font-face {
    font-family: 'kbplanetearth';
    src: url('./fonts/Kbplanetearth.ttf') format('truetype');
}
@font-face {
    font-family: 'kbwhenpigsfly';
    src: url('./fonts/Kbwhenpigsfly.ttf') format('truetype');
}
@font-face {
    font-family: 'kbwitchinghour';
    src: url('./fonts/Kbwitchinghour.ttf') format('truetype');
}
@font-face {
    font-family: 'panton-light-caps';
    src: url('./fonts/panton-light-caps.otf') format('opentype');
}
