.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#root {
  justify-content: center;
  align-items: center;
  
}

body {
  margin: 0;
  justify-content: center;
  background-color: #CED3DC;
}

.footer {
  translate: 0 70px;
  margin: auto;
  padding: 0 10px;
  background-color: #3f403fb6;
  width: fit-content;
  /* width: 80%; */
  border-radius: 10px;
}

#socialMedia i{
  font-size: 30pt;
  color: white;
  margin: 5px 5px 5px 5px;
  transition: color 0.2s ease-in-out;
}

#socialMedia i:hover{
  color: #b1b5bc;
}